{% load yg_list %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}"></head>
<body>
<div class="container">
<h1>数据列表</h1>
<form method="POST">
    {% csrf_token %}
    {% if action_list %}
        <div class="row" style="overflow: hidden">
            <select name="action" class="form-control" style="display:inline-block;width: 200px;">
                {% for item in action_list %}
                    <option value="{{ item.name }}">{{ item.text }}</option>
                {% endfor %}
            </select>
            <input type="submit" class="btn btn-primary" value="执行">
            <a class="btn btn-success" style="margin-right:5%;margin-bottom: 2%;padding:10px " href="{{ add_url }}">添加</a>
        </div>
    {% endif %}
    <!-- 数据表格 开始 -->
    {% func result_list list_display ygadmin_obj %}
    <!-- 数据表格 结束 -->
</form>
<!-- 分页开始 -->
<ul class="pagination">
    {{ page_str|safe }}
</ul>
<!-- 分页结束 -->
</div>
</body>
</html>